.container {
  background-color: rgba(22, 22, 22, 0.4);
  border-radius: 100px;
  padding: 2px;
}

.filler {
  height: 100%;
  background-color: rgb(147, 48, 217);
  box-shadow: 0 0 5px 2px rgba(171, 79, 236, 0.4);
  border-radius: inherit;
}