@import 'variables.pcss';

.button {
  border: 0;
  display: inline-block;
  border-radius: var(--border-radius-500);
  padding: var(--distance-500) var(--distance-600);
  transition: all 0.5s;
  color: var(--white);
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 3px 7px var(--shadow-default);
  outline: none;
  transition: all 0.2s ease-in-out;
}
